
.full-screen{
  height: 100vh;
  width: 100%;
  background-color: #096a71;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;
}


.form-container{
  background-color: white;
  width: 60%;
  border-radius: .7rem;
  box-shadow: 1px 1px 40px -15px rgba(0, 0, 0, 0.774);
} 


.form-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .25em;
}

.form-header h1{
  color:#21A25F;
  font-size: 1.2rem;
margin: auto;
font-weight: bold;
border-radius: .25rem;
padding: 0.3rem
}


.form-sub-header{
background-color: #F2F7F4;
border-top: 1px lightgrey solid;
border-bottom: 1px lightgrey solid;
border-radius: .25rem;


}

.form-sub-header h2{
color: #21A25F;
font-size: 0.9rem;
margin: auto 2%;
padding: 5px 0;
font-weight: bold;
text-transform: capitalize;
opacity: 0.8;
border-radius: .25rem;

}

.date-picker{
  width: 100%;
}

.text-muted label{
color: grey;
font-size: 0.8em;
position: relative;
top: 0.8rem;
}


::placeholder{
  color: rgba(0, 0, 0, 0.8)!important;
}

